alias llama-server="~/llama.cpp/build/bin/llama-server"
alias llama-cli="~/llama.cpp/build/bin/llama-cli"
alias cp='cp -v'
alias df='df -h'
alias du='du -h'
alias weather='curl https://wttr.in/Fontenay-le-Comte'
alias mocp='mocp -m'
alias year='cal -mwy'
alias show='fzf --reverse --preview "bat --style=numbers --color=always --line-range :500 {}"'
alias fcd='cd $(find . -type d | fzf --reverse)'
alias translate='xclip -o | trans :uk -no-pager' # translate clipboard selection.
alias xc="tr '\n' ' ' | xclip -selection clipboard"
alias netinfo='netstat -an | grep -E "ESTABLISHED|LISTEN"'
alias nb='newsboat'
{{- if eq .chezmoi.os "openbsd" }}
# openbsd 
alias sed='gsed'
alias l='gls --color=auto' # GNU ls from coreutils.
alias ll='gls --color=auto -lio'
alias memtop='ps aux | sort -nrk 6 | head'
alias la='gls --color=auto -la'
{{- else if eq .chezmoi.os "linux" }}
# linux
alias l='ls --color=auto' # GNU ls from coreutils.
alias ll='ls --color=auto -lio'
alias la='ls --color=auto -la'
{{- end }}

